<style>
    #burgersContainer {
        display:flex;
        width: 100vw;
    }
    #burgersContainer > div {
        flex:1;
    }
    .burger_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .burger_wrapper p {
            margin-right: 10px;
    }
</style>

<h1>Eat-Da-Burger!</h1>
<div id="burgersContainer">
<div>
    {{#each burgers}}
        {{#unless devoured}}
           <div class="burger_wrapper"><p>{{burger_name}}</p><button>Devour</button></div>
        {{/unless}}
    {{/each}}
</div>

<div>
    {{#each burgers}}
        {{#if devoured}}
            <div class="burger_wrapper"><p>{{burger_name}}</p></div>
        {{/if}}
    {{/each}}
</div>
</div>
<button type="submit">Devour!</button>

<label for="message">Enter a burger you want to eat Click the "Submit" button</label>
<textarea type="text" class="form-control" id="message" rows="3"></textarea>
<button type="submit">Submit</button>